@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #6637ed;
}

.wrapper {
  padding: 40px 20px;
  @media only screen and (min-width: 600px) {
    padding: 40px 80px;
  }
  @media only screen and (min-width: 760px) {
    padding: 40px 160px;
  }
  @media only screen and (min-width: 1000px) {
    padding: 40px 320px;
  }
  @media only screen and (min-width: 1400px) {
    padding: 40px 500px;
  }
  .container {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 15px 15px 40px rgba(1, 9, 31, 0.05);
    padding: 40px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      height: 40px;
      outline: none;
      border: none;
      color: #37373a;
      font-size: 16px;
      border-bottom: 1px solid #37373a;
    }
    button {
      background-color: #6637ed;
      border: none;
      color: #ffffff;
      outline: none;
      cursor: pointer;
      height: 40px;
      padding: 0 30px;
      border-radius: 5px;
      margin-top: 20px;
    }
    button:hover {
      background-color: #7954e7;
    }
  }
  p {
    background-color: #ffffff;
    box-shadow: 12px 12px 30px rgba(1, 9, 31, 0.05);
    padding: 20px 10px;
    text-align: center;
    margin-top: 20px;
    color: #37373a;
    border-radius: 5px;
    display: none;
    span {
      font-weight: bold;
    }
  }
}
